@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/*
* MIXINS
*/
/*
* BASE
*/
html, body {
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  font-size: 16px;
  font-weight: 400;
  color: #F7858B;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url("data:image/svg+xml,%3Csvg width='20px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 19'%3E%3Cg data-name='Calque 2'%3E%3Cg data-name='Calque 1'%3E%3Cpath d='M19 15.1l-.1 1.6a.4.4 0 0 1-.1.3l-1.9 1.8a.4.4 0 0 1-.2 0l-1.5.2a.4.4 0 0 1-.4-.1l-8.5-8.5-4.5-4.6a1 1 0 0 1-.2-.3L.9 3.7.1 1.3a1 1 0 0 1 0-.7A1 1 0 0 1 1.3 0l3 1 1.2.4a1.2 1.2 0 0 1 .4.3L13.2 9l5.7 5.7a.4.4 0 0 1 .1.3zm-2.5.2L3.9 2.6a4.4 4.4 0 0 0-1.2 1.2l12.7 12.8zM2.4 4.3A1.7 1.7 0 0 0 2 5a.6.6 0 0 0 .2.5l1.1 1.1 7 7 4.4 4.4.2-1a.2.2 0 0 0-.1-.2l-2.4-2.5-10.2-10zM18 14.9l-.1-.2-6-6-6.4-6.4a.6.6 0 0 0-.2-.2 1.4 1.4 0 0 0-1.1.2l5.2 5.2 7.3 7.3a.5.5 0 0 0 .4.1h1zM4.3 1.7L1.8.9a.2.2 0 0 0-.1 0 2.2 2.2 0 0 0-1 .9.2.2 0 0 0 0 .2l.7 2 .2.4a5 5 0 0 1 2.6-2.7zm11 16.7h1.3a.3.3 0 0 0 0-.1l1.7-1.6a.3.3 0 0 0 0-.1l.1-.7v-.5h-1.2a.3.3 0 0 0-.1.1L15.7 17a.6.6 0 0 0-.2.4l-.1 1z'/%3E%3Cpath d='M17.7 16.4a2.7 2.7 0 0 1 0 .3 1.7 1.7 0 0 1-1 1 .4.4 0 0 1-.5 0 .4.4 0 0 1 0-.5 1.7 1.7 0 0 1 1-1 .6.6 0 0 1 .2 0 .3.3 0 0 1 .3.2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), pointer; }
  @media (min-width: 400px) {
    html, body {
      font-size: 18px; } }
  @media (min-width: 768px) {
    html, body {
      font-size: 20px; } }

body {
  border: 10px solid #F7858B;
  background: #F9F6EF url(../assets/img/templatenote-bg.svg) repeat top center;
  background-attachment: fixed; }
  @media (min-width: 600px) {
    body {
      border: 15px solid #F7858B; } }

.site-wrapper {
  padding-right: 10px;
  padding-left: 20px;
  overflow: hidden; }
  @media (min-width: 400px) {
    .site-wrapper {
      padding-right: 20px;
      padding-left: 40px; } }

.page-section {
  margin-bottom: 120px; }
  .page-section h2 {
    margin-bottom: 1em; }

.block-mw {
  width: 100%;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  /* @if $length {
      max-width: $length;
  } @else {
      max-width: $mw;
  } */ }

@media (min-width: 768px) {
  .block-50 {
    max-width: 50%; } }

.section-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.section-block {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px; }
  @media (min-width: 600px) {
    .section-block {
      margin-top: 40px;
      margin-bottom: 40px; } }
  @media (min-width: 768px) {
    .section-block {
      width: 50%;
      /*        margin-top:$su*3;
              margin-bottom:$su*3;*/ } }
  .section-block--padding-space {
    padding-right: 1em; }
    @media (min-width: 1024px) {
      .section-block--padding-space {
        padding-right: 4em; } }
  .section-block--flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
    max-width: 32em; }
    @media (min-width: 768px) {
      .section-block--flex-column {
        margin-bottom: 0; } }
  .section-block--no-margin-top {
    margin-top: 0; }
  .section-block p {
    padding-right: 1em; }
    @media (min-width: 1024px) {
      .section-block p {
        padding-right: 4em; } }

.spacing-block {
  margin-bottom: 40px; }

h1, h2, h3 {
  margin-bottom: 0.25em;
  line-height: 1.25;
  font-family: Helvetica, Arial, sans-serif;
  color: #F7858B;
  text-transform: uppercase; }

h1 {
  font-size: 1.4rem;
  margin-bottom: 0.5em; }

h2 {
  font-size: 1.2rem;
  margin-bottom: 1em; }

h3 {
  font-size: 1.1rem; }

p, ul {
  margin-bottom: 0.25em;
  line-height: 1.6;
  font-size: 18px; }

ul {
  list-style-type: none; }

/*
* HOMEPAGE
*/
/*
* HEADER
*/
.site-header {
  width: 100%;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  /* @if $length {
      max-width: $length;
  } @else {
      max-width: $mw;
  } */
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 0 0 10px !important; }
  @media (min-width: 600px) {
    .site-header {
      padding: 0 0 0 20px !important;
      margin-top: 70px; } }
  @media (min-width: 768px) {
    .site-header {
      padding: 3rem 4rem !important; } }

.site-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (min-width: 768px) {
    .site-header__wrapper {
      display: block;
      width: 100%; } }

.site-title {
  display: block;
  margin-bottom: 0;
  padding: 0.65em 0;
  margin-right: 10px; }
  @media (min-width: 600px) {
    .site-title {
      padding: 20px 0; } }
  @media (min-width: 768px) {
    .site-title {
      padding: 0 0 5px 0;
      font-size: 1.7em;
      width: 100%; } }
  .site-title a {
    text-decoration: none;
    color: #F7858B; }
    .site-title a:hover {
      text-decoration: underline; }

.site-description {
  display: none;
  font-size: 0.9rem;
  margin: 0;
  width: 100%;
  max-width: 280px; }
  body.nav-opened .site-description {
    display: block; }
  @media (min-width: 768px) {
    .site-description {
      order: 2;
      display: block; } }

#toggle-site-nav {
  width: 57px;
  height: 57px;
  border: none;
  border-left: 1px solid #F7858B;
  background: transparent;
  font-size: 1.5rem;
  color: #F7858B; }
  @media (min-width: 400px) {
    #toggle-site-nav {
      height: 64px;
      width: 64px; } }
  @media (min-width: 600px) {
    #toggle-site-nav {
      height: 72px;
      width: 72px; } }
  @media (min-width: 768px) {
    #toggle-site-nav {
      display: none; } }
  body.nav-opened #toggle-site-nav {
    border-left: none; }
  #toggle-site-nav:hover {
    cursor: pointer; }

.toggle-site-nav__img {
  width: 26px;
  margin-top: 7px; }

@media (min-width: 768px) {
  .site-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4rem;
    z-index: 9; } }

#site-nav__list {
  margin: 0;
  display: none; }
  @media (min-width: 768px) {
    #site-nav__list {
      display: block;
      line-height: 1.65em; } }
  body.nav-opened #site-nav__list {
    display: block;
    margin-top: 10px; }

.site-nav__list__item {
  list-style-type: none;
  color: #F7858B;
    /*&:last-child {

        a {
            padding-bottom: $su/2;

            @media (min-width:768px) {
//                padding-bottom: $su;
            }
        }
    }*/ }
  .site-nav__list__item a {
    display: block;
    color: #F7858B;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    padding: 0.5em 1em 0.5em 0;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .site-nav__list__item a {
        padding: initial;
        height: 1.6em; } }
    .site-nav__list__item a:hover {
      text-decoration: underline; }

/*
* FOOTER
*/
.site-footer {
  margin-top: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative; }

.footer-content {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.footer-content__item {
  width: 100%;
  list-style-type: none;
  margin-bottom: 30px;
  z-index: 9; }
  @media (min-width: 320px) {
    .footer-content__item {
      width: 100%; } }
  @media (min-width: 768px) {
    .footer-content__item {
      width: 30%;
      margin-bottom: 0; } }
  .footer-content__item a {
    text-decoration: none;
    color: #F7858B; }
  .footer-content__item h3 {
    margin-bottom: 16px; }

/*
* MODULES
*/
.button {
  display: inline-block;
  text-decoration: none;
  padding: 0.8em 1.9em;
  border: 1px solid currentColor; }

.text-link {
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: 130ms color ease-out; }

.text-link--bigger {
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: 130ms color ease-out;
  font-family: Helvetica, Arial, sans-serif;
  color: #F7858B;
  font-size: 0.85rem;
  position: relative;
  z-index: 9;
  text-transform: uppercase; }
  .text-link--bigger:hover:after {
    content: " →"; }

.text-link--back {
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: 130ms color ease-out;
  font-family: Helvetica, Arial, sans-serif;
  color: #F7858B;
  font-size: 0.85rem;
  z-index: 9;
  text-transform: uppercase; }

.rectangle-before {
  position: relative;
  padding: 40px 10px;
  border: 1px solid #F7858B;
  background-color: #F9F6EF; }
  @media (min-width: 600px) {
    .rectangle-before {
      padding: 2rem 20px; } }
  @media (min-width: 768px) {
    .rectangle-before {
      padding: 4rem 4rem;
      border: 2px solid #F7858B; } }
  .rectangle-before:before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #F9F6EF;
    border: 1px solid #F7858B;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate(-10px, -10px); }
    @media (min-width: 400px) {
      .rectangle-before:before {
        transform: translate(-20px, -20px); } }
    @media (min-width: 768px) {
      .rectangle-before:before {
        border: 2px solid #F7858B; } }

@media (min-width: 400px) {
  .img-offset {
    margin-bottom: -280px; } }

.img-wrapper {
  display: block;
  position: relative; }
  .img-wrapper:before {
    content: '';
    display: block;
    background: #F7858B;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .img-wrapper:after {
    content: '';
    display: block;
    background: #F9F6EF;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4; }
  .img-wrapper img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    mix-blend-mode: overlay; }

.canvas-container {
  max-width: 100%;
  max-height: 200px;
  overflow: hidden; }

#can {
  z-index: 8;
  position: absolute; }
  @media (max-width: 768px) {
    #can {
      display: none; } }

.shoplist {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.shoplist__item {
  width: 100%;
  list-style-type: none; }
  @media (min-width: 400px) {
    .shoplist__item {
      width: 45%; } }
  @media (min-width: 768px) {
    .shoplist__item {
      width: 30%;
      z-index: 9;
      height: 450px; } }

.shoplist__item__img img {
  width: 100%; }

.shoplist__item__title {
  margin-top: 20px; }
  .shoplist__item__title a {
    text-decoration: none;
    color: #F7858B; }
