$white : #FCFAF7;
$red : #F7858B;
$text-color:#716b89;

$su: 20px; // spacing-unit

$mw: 1200px; // max-width

@import 'partials/_reset';
@import 'partials/_mixins';
@import 'partials/_base';
@import 'partials/_typo';
@import 'partials/_modules';
@import 'partials/_home';
@import 'partials/_header';
@import 'partials/_footer';