{{ define "main" }}
 <article class="single block-mw rectangle-before">
        <header class="page-header">
            <h1>{{.Title}}</h1>
        </header>
        <section class="page-wrapper">
            {{ range .Site.Data.process.blocks }}
                <div class="section-blocks">
                    <div class="section-block">
                        <h2>{{ .block.title }}</h2>
                        <p>{{ .block.description | markdownify }}</p>
                    </div>
                    <div class="section-block">
                        <picture class="img-wrapper" onclick="">
                            <source srcset="/assets/uploadsOut{{ .block.img }}"
                                    media="(min-width: 768px)">
                            <img src="/assets/uploadsOutThumbs{{ .block.img }}" alt="{{ .title }}" />
                        </picture>
                    </div>
                </div>
            {{end}}
        </section>
    </article>
{{ end }}
