{{ define "main" }}
 <article class="single block-mw rectangle-before">
        <header class="page-header">
            <h1>{{.Title}}</h1>
        </header>
        <section class="page-wrapper">
            {{ range .Site.Data.about }}
                <div class="section-blocks">
                    <div class="section-block">
                        <h2>{{ .title }}</h2>
                        <p>{{ .description }}</p>
                    </div>
                    <div class="section-block">
                        <img src="{{ .img }}" />
                    </div>
                </div>
            {{end}}
        </section>
    </article>
{{ end }}