{{ define "main" }}
     <article class="single block-mw rectangle-before">
        <header class="page-header">
            <h1>{{.Title}}</h1>
        </header>
        <section class="page-wrapper">
            <p class="partners-thanks">{{ .Site.Data.partners.thanks }}</p>
            <div class="section-blocks partners-list">
                {{ range .Site.Data.partners.partners }}
                    <div class="section-block">
                        <a href="{{ .partner.link }}">
                            <picture class="img-wrapper" onclick="">
                                <source srcset="/assets/uploadsOut{{ .partner.img }}"
                                        media="(min-width: 768px)">
                                <img src="/assets/uploadsOutThumbs{{ .partner.img }}" alt="{{ .partner.title }}" width="287" height="287" />
                            </picture>
                        </a>
                        <h2>{{ .partner.title }}<br><small>{{ .partner.location }}</small></h2>
                    </div>
                {{end}}
            </div>
            <div class="section-blocks become-partner">
                <div class="section-block">
                    <p>You have excess paper and you want to put it to good use? Contact us</p>
                </div>
                <div class="section-block">
                    <p class="text-align-right">
                        <a class="button" href="mailto:info@templatenote.com">Become a partner</a>
                    </p>
                </div>
            </div>
        </section>
    </article>
{{ end }}
