{{ define "main" }}
 <article class="single block-mw rectangle-before" id="playground-canvas">
        <header id="playground-header" class="page-header">
            <h1>{{.Title}}</h1>
            {{.Content}}
        </header>
        <section class="page-wrapper">
            <p id="playground-footer">made with templatenote.com</p>
            <!-- <canvas id="canvas-two" width="42" height="66" style="border:1px solid var(--templateColor)"></canvas>  -->
        </section>
    </article>
{{ end }}