<div class="change-color-wrapper">
    <div id="change-color-btn">
        <button id="change-color-btn__current" data-color="#F7858B"></button>
    </div>

    <div id="change-color-list" style="display:none;">
        <button class="change-color-list__item" data-color="#F7858B"></button>
        <button class="change-color-list__item" data-color="gray"></button>
        <button class="change-color-list__item" data-color="pink"></button>
        <button class="change-color-list__item" data-color="#755efb"></button>
    </div>  
</div>
