<script>
    var currentColor,
    rootElement = document.getElementById("root"),
    changeColorBtn = document.getElementById('change-color-btn'),
    changeColorBtnCurrent = document.getElementById('change-color-btn__current'),
    colorList = document.getElementById('change-color-list'),
    playgroundPage = false,
    playgroundCanvas;
    if (document.body.classList.contains('playground')) {
        playgroundPage = true;  
        playgroundCanvas = document.getElementById('playground-canvas')
    }
    if (typeof(Storage) == "undefined") {
        changeColorBtn.style.display = none;
    }
    function setBtnColors() {
        allColorBtns = document.querySelectorAll('.change-color-list__item');
        allColorBtns.forEach(function(el) {
            var thisBtnColor = el.dataset.color;
            var thisBtnColor = thisBtnColor.slice(1);
            el.style.backgroundColor = '#'+thisBtnColor;
            el.addEventListener('click', function() {
                setColor(thisBtnColor);
            });
        });
    }



    function takeScreenshot() {
        var saveBtn = document.getElementById("canvas-save-btn"),
            playgroundCanvas = document.getElementById("playground-canvas"),
            playgroundCanvasW = playgroundCanvas.offsetWidth-40,
            playgroundCanvasH = playgroundCanvas.offsetHeight-40,
            playgroundCanvasX = playgroundCanvas.offsetLeft+20,
            playgroundCanvasY = playgroundCanvas.offsetTop+20;
        
        canvasElement.removeChild(saveBtn);
        var w = window.innerWidth;
        var h = document.body.clientHeight;
        

        html2canvas(document.body,{
            width:playgroundCanvasW,
            height:playgroundCanvasH,
            x:playgroundCanvasX,
            y:playgroundCanvasY
        }).then(function(canvas) {
            canvas.id = "canvas-generated";
            
             var ctx = canvas.getContext("2d");
            /*ctx.strokeStyle = rootElement.style.getPropertyValue('--templateColor');;
            ctx.strokeRect(0, 0, 42, 66); */

            /* var pattern = ctx.createPattern(ctx, 'repeat');
            ctx.fillStyle = pattern;
            ctx.fillRect(0, 0, canvas.width, canvas.height); */

            /* var canvas2 = document.getElementById("canvas-two");
            var context2 = canvas2.getContext("2d");
            var ptn = context2.createPattern(canvas,"repeat");
            context2.fillStyle = ptn;
            context2.fillRect(0,0, canvas2.width, canvas2.height);
            context2.fill(); */

            /* var canvasPattern = document.createElement("canvas");
            canvasPattern.width = canvas.width;
            canvasPattern.height = canvas.height;
            var contextPattern = canvasPattern.getContext("2d");
            contextPattern.strokeStyle = rootElement.style.getPropertyValue('--templateColor');;
            contextPattern.strokeRect(0, 0, 42, 66);
            var pattern = ctx.createPattern(canvasPattern,"repeat");
            ctx.fillStyle = pattern;
            ctx.fillRect(0, 0, canvas.width, canvas.height);
            ctx.fill(); */

            document.body.appendChild(canvas);
            hideCanvas(canvasElement);
            replaceBtnImg();
            drawCloseGeneratedCanvasBtn();
        });
    }



    function writeColor(color) {
        thisColor = color;
        document.documentElement.style.setProperty("--templateColor", '#'+thisColor);
        document.body.style.background = '#F9F6EF repeat url(\'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 66" width="42px" height="66px"><defs></defs><g style="fill:none;stroke:%23'+thisColor+';stroke-opacity:0.3"><rect style="stroke:none;" width="42" height="66"/><rect style="fill:none;" x="0.5" y="0.5" width="42" height="66"/></g></svg>\') top center';
        if (playgroundPage) {
            playgroundCanvas.style.background = '#F9F6EF repeat url(\'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 66" width="42px" height="66px"><defs></defs><g style="fill:none;stroke:%23'+thisColor+';stroke-opacity:0.3"><rect style="stroke:none;" width="42" height="66"/><rect style="fill:none;" x="0.5" y="0.5" width="42" height="66"/></g></svg>\') top center';
        }
        changeColorBtn.style.backgroundColor = '#'+thisColor;
        changeColorBtnCurrent.style.backgroundColor = '#'+thisColor;
    }
    function setColor(color) {
        if (color) {
            currentColor = color;
            sessionStorage.setItem("color", currentColor);
        } else {
            currentColor = sessionStorage.getItem("color");
        }
        writeColor(currentColor);
    }
    function getColor() {
        if (sessionStorage.color) {
            currentColor = sessionStorage.getItem("color");
            writeColor(currentColor);
        } else {
            currentColor = rootElement.style.getPropertyValue('--templateColor');
            sessionStorage.setItem("color", currentColor);
            writeColor(currentColor);
        }
        setBtnColors();
    }
    function showColorList() {
        if (colorList.style.display === "none") {
            colorList.style.display = "flex";
            changeColorBtn.classList.add('opened');
        } else {
            colorList.style.display = "none";
            changeColorBtn.classList.remove('opened');
        }
    }
    changeColorBtn.addEventListener('click', function() {
        showColorList();
    });
    getColor();
</script>