<nav class="site-nav">
  <ul id="site-nav__list">
	<li class="site-nav__list__item">
        <a target="_blank" href="https://tictail.com/templatenote">Shop</a>
    </li>
    <li class="site-nav__list__item">
        <a href="/about">About</a>
    </li>
    <li class="site-nav__list__item">
        <a href="/process">Process</a>
    </li>
    <li class="site-nav__list__item">
        <a href="/partners">Partners</a>
    </li>
    <li class="site-nav__list__item playground">
        <a href="/playground">Playground</a>
    </li>
  </ul>
</nav>
