<footer class="site-footer block-mw">
	<section class="page-section rectangle-before">
		<ul class="footer-content">
			<li class="footer-content__item">
				<h3 class="shoplist__item__title">Template Note</h3>
				<ul>
					<li><a href="mailto:info@templatenote.com">info@templatenote.com</a></li>
				</ul>
      </li> 
			<li class="footer-content__item">
        <h3 class="shoplist__item__title">Our collection</h3>
      	<ul>
					{{ range where .Site.Pages "Params.cat" "shopItem" }}
						<li>
							<a href="{{ .Params.external_url }}">{{ .Title }}
							</a>
						</li>
					{{ end }}
    		</ul>
      </li> 
			<li class="footer-content__item">
        <h3 class="shoplist__item__title">Follow us</h3>
				<ul>
					<li><a target="_blank" href="https://tictail.com/templatenote">Shop Tictail</a></li>
					<li><a href="https://www.instagram.com/templatenote/">Instagram</a></li>
					<li><a href="https://www.facebook.com/TemplateNote/">Facebook</a></li>
				</ul>
			</li>
		</ul>
  </section>
	This website was made in collaboration with <a href="https://www.studiocolibri.be">Studio Colibri</a>
</footer>
