{{ $canvas := resources.Get "js/canvas.js" }}
{{ $menu := resources.Get "js/menu.js" }}
{{ $netlifyIdentity := resources.Get "js/netlifyIdentity.js" }}
{{ $defaultJS := slice $canvas $menu $netlifyIdentity | resources.Concat "js/global.js" }}
{{ $globalJS := $defaultJS | resources.Minify | resources.Fingerprint }}
<script src="{{ $globalJS.Permalink }}"></script>
<script>
function getColor() {
    var newColor = document.getElementById("changeColor").value;
    document.getElementById("demo").innerHTML = newColor;
    document.documentElement.style.setProperty("--templateColor", newColor);

}
</script>

