<nav class="site-nav">
  <ul id="site-nav__list">
	<li class="site-nav__list__item">
        <a href="/shop">Shop</a>
    </li>
  <!--  <li class="site-nav__list__item">
        <a href="/">Home</a>
    </li>-->
    <li class="site-nav__list__item">
        <a href="/about">About</a>
    </li>
    <li class="site-nav__list__item">
        <a href="/process">Process</a>
    </li>
    <li class="site-nav__list__item">
        <a href="/playground">Playground</a>
    </li>
    <li class="site-nav__list__item">
      <a href="/contact">Contact</a>
    </li>
  </ul>
</nav>
