{{ define "main" }}
  <section class="page-section block-mw rectangle-before">
    <div class="section-blocks">
      <div class="section-block">
        <h2>About</h2>
        <p>📒 Notebooks & Notepads - RISO Printed in Brussels - Limited editions - Hand drawn patterns 🖊️📐 - All from paper surplus ♻️ </p>
      </div>
      <div class="section-block section-block--no-margin-top">
        <div class="img-offset">
          <img src="assets/img/template-note-about.jpg">
        </div>
      </div>
    </div>
    
  </section>
  <section class="page-section block-mw rectangle-before">
    <h2>Our template notes</h2>
    <ul class="shoplist">
      {{ range where .Site.Pages "Params.featured" "oui" }}
        <li class="shoplist__item">
          <a class="shoplist__item__img" href="{{ .Permalink }}">
            <img src="{{ .Params.Img }}" alt="{{ .Title }}">
          </a>
          <h3 class="shoplist__item__title">
            <a href="{{ .Permalink }}">
              {{ .Title }}
            </a>
          </h3>
          <p class="shoplist__item__description">
            {{ .Content | truncate 30 }}
          </p>
        </li>
      {{ end }}
    </ul>
  </section>
{{ end }}
