/*
* BASE
*/

:root {
    --templateColor: $red;
} 

html, body {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;   
    font-size:16px;
    font-weight:400;
    color:var(--templateColor);
    min-height:100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	
    @media (min-width:400px) {
        font-size:18px;
    }

    @media (min-width:768px) {
        font-size:20px;
    }
}

body {
    border:10px solid var(--templateColor);
    background:$white url(../assets/img/templatenote-bg.svg) repeat top center;
    background-attachment: fixed;

    @media (min-width:600px) {
        border:15px solid var(--templateColor);
    } 
}
	
.site-wrapper {
    padding-right:$su/2;
    padding-left:$su;
	overflow: hidden;

    @media (min-width:400px) {
        padding-right:$su;
        padding-left:$su*2;
    } 
}

