/*
* BASE
*/

:root {
    --templateColor: $red;
} 

::selection {
	background-color: var(--templateColor);
	color: white;
}

html, body {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;   
    font-size:16px;
    font-weight:400;
    color:var(--templateColor);
    min-height:100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	
    @media (min-width:400px) {
        font-size:18px;
    }

    @media (min-width:768px) {
        font-size:20px;
    }
}

body {
    border:10px solid var(--templateColor);
    background:$white url(../assets/img/templatenote-bg.svg) repeat top center;
    //background: $white repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 66" width="42px" height="66px"><defs><style>.a{fill:none;stroke:#F8D9DA;}.b{stroke:none;}.c{fill:none;}</style></defs><g class="a"><rect class="b" width="42" height="66"/><rect class="c" x="0.5" y="0.5" width="42" height="66"/></g></svg>') top center;
    background-attachment: fixed;

    @media (min-width:600px) {
        border:15px solid var(--templateColor);
    } 

    &.home .site-nav__list__item a[href="/"],
    &.about .site-nav__list__item a[href="/about"],
    &.shop .site-nav__list__item a[href="/shop"],
    &.playground .site-nav__list__item a[href="/playground"],
    &.process .site-nav__list__item a[href="/process"],
    &.contact .site-nav__list__item a[href="/contact"] {
        font-weight:bold;
    }
}
	
.site-wrapper {
    padding-right:$su/2;
    padding-left:$su;
	overflow: hidden;

    @media (min-width:400px) {
        padding-right:$su;
        padding-left:$su*2;
    } 
}

