/*
* HEADER
*/

.site-header {
    @include max-width;
    border:1px solid $red;
    padding:$su*5;
    background-color:$white;
}

.site-title {
    text-transform: uppercase;
    @include f-ss;
    color:$red;
}


