/*
* MIXINS
*/

@mixin max-width($length:$mw) {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    padding-right:$su;
    padding-left:$su;
    max-width:$length;
    /* @if $length {
        max-width: $length;
    } @else {
        max-width: $mw;
    } */
} 

@mixin f-ss {
    font-family:Helvetica, Arial, sans-serif;
} 