/*
* MIXINS
*/

@mixin max-width($length:$mw) {
    width:100%;
    margin: 0 auto;
    padding-right:$su;
    padding-left:$su;
    max-width:$length;
    /* @if $length {
        max-width: $length;
    } @else {
        max-width: $mw;
    } */
} 