.shoplist {
    margin-top: $su*2.5;
	display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.shoplist__item {
    width:100%;
    list-style-type: none;
    margin-bottom:$su*2;

    @media (min-width:600px) {
        width:45%;
    }

    @media (min-width:768px) {
        width: 30%;
        margin-bottom:$su*4;
    }
}

.shoplist__item--view-all {

    &__link, &__img {
        display:block;
        width:100%;
        height:100%;
    }
}

.shoplist__item__img {

    img {
        width:100%;
    }
}

.shoplist__item__title {
	margin-top: $su;
}

#shoplist-svg__arrow {
    display:none;
}

.shoplist__item--view-all__link {
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
}

.shoplist__item--view-all__img {

    &:hover {
        
        #shoplist-svg__arrow {
            display:block;
        }
    }
}


