.shoplist {
    margin-top: $su*2.5;
	display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.shoplist__item {
    width:100%;
    list-style-type: none;

    @media (min-width:400px) {
        width:45%;
    }

    @media (min-width:768px) {
        width: 30%;
    	z-index: 9;
    	height: 450px;
    }
}

.shoplist__item__img {
    
    img {
        width:100%;
    }
}

.shoplist__item__title {
	
	 margin-top: 20px;
	
	a {
	text-decoration: none;
	color: $red;	
	}
	
}