.playground article.single {
    min-height:750px;
}

body.static {

    .section-blocks {
        margin-bottom:$su*4;
    }

    .section-block {
        margin:0;

        @media (min-width:600px) {
            margin:0;
        }
    }

    @media (min-width:960px) {

        .section-blocks {
            align-items:center;
        }

        .section-block {
            padding:0;

            .img-wrapper {
                width:90%;
            }
        }

        .section-blocks:nth-child(odd) {
            padding:$su*3 $su $su*3 0;

            .section-block:nth-child(2) {

                .img-wrapper {
                    margin-left:10%;
                }
            }
        }
        
        .section-blocks:nth-child(even) {

            .section-block:nth-child(1) {
                order: 2;
            }
    
            .section-block:nth-child(2) {
                order: 1;
            }
        }
    }
}