h1, h2, h3 {
    margin-bottom:0.25em;
    line-height:1.25;
    @include f-ss;
    color:var(--templateColor);
    text-transform: uppercase;
}

h1 {
    font-size:1.4rem;
    margin-bottom:0.5em;
}

h2 {
    font-size:1.2rem;
	margin-bottom: 1em;
}

h3 {
    font-size:1.1rem;
}

p, ul {
    margin-bottom:1em;
    line-height:1.6;
	font-size: 18px;
}

ul {
	list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--templateColor);
    
    &:hover, &:focus {
        text-decoration: underline;
    }
} 

main strong, #pick-up strong {
    font-weight: bold;
}

.text-underline {
    text-decoration: underline;
}

.text-align-right{
    text-align: right;
}
