h1, h2, h3 {
    margin-bottom:0.25em;
    line-height:1.25;
    @include f-ss;
    color:$red;
    text-transform: uppercase;
}

h1 {
    font-size:1.4rem;
    margin-bottom:0.5em;
}

h2 {
    font-size:1.2rem;
	margin-bottom: 1em;
}

h3 {
    font-size:1.1rem;
}

p, ul {
    margin-bottom:0.25em;
    line-height:1.6;
	font-size: 18px;
}

ul {
//    margin-left:1em;
	list-style-type: none;
}