{{ define "main" }}
    <article class="single block-mw rectangle-before">
        <header class="page-header">
            <h1>{{.Title}}</h1>
        </header>
        <section class="page-wrapper">
            <div class="section-blocks">
                <div class="section-block">
                    <ul>
                        <li>Prix : {{ .Params.Price }}&nbsp;€
                        <li>Couleur : {{ .Params.Color }}</li>
                        <li>Format : {{ .Params.Size }}</li>
                        <li>Pages : {{ .Params.Pages }}</li>
                        <li>Type de papier : {{ .Params.Paper }}</li>
                        <li>Motif : {{ .Params.Pattern }}</li>
                        <li>Reliure : {{ .Params.Binding }}</li>
                        {{ with .Params.Print }}<li>Imprimeur : {{.}}{{ end }}</li>
                        <li>Tags :
                            <ul>
                                {{ $baseURL := .Site.BaseURL }}
                                {{ range .Params.Tags }}
                                    <li><a href="{{ $baseURL }}tags/{{ . | urlize }}" class="text-link--bigger">{{ . }}</a> </li>
                                {{ end }}
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="section-block">  
                        <div class="img-wrapper">
                            <img src="/assets/uploadsOut{{ .Params.Img }}" alt="{{.Title}}" width="478" height="478" />
                    </div>
                </div>
            </div>
            <div class="page-content">
                {{.Content}}
            </div>
            
            {{/*
                <br><br>
                Test de partials :<br>
                {{ partial "custom/related.html" . }}
                <br><br>
            */}}
            <br><br>
            <a href="{{ .Site.BaseURL }}shop" class="text-link--back">Retour à la liste des carnets</a>
        </section>
        
    </article>
{{ end }}